$text_color: #20415d;
$std_fontsize: 14px;
$btnprimary_bg: #61ce4e;
$btnprimary_hov: #73d462; 
$listpadding: 0 20px;
$listmargin: 0 5px;
$btnmargin: 40px; 
$jumbopadding: 80px 0;
$jumbotitlesize: 59px;
$subtitlesize: 22px;
$listfontsize: 19px;
$darkbg: #1b3c59;
$datatitlesize: 49.5px;
$colorgreybg: #8e8e97;